textarea{
    height: 100px;
}

.sendBtn{
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffff;
}

.sendBtn:hover{
    color:#ffffff;
}

.sendBtn:active{
    background-color: #ffffffce;
    color: black;
}

.invalid{
    color: red;
}

#contact-form{
    width: 50%;
}

@media screen and (max-width: 900px){
    #contact-form{
        width: 80% !important;
    }
}